<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
   </startup>
   <connectionStrings>
      <add name="northwind" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Northwind;Data Source=LAPTOP-TM3BL499\SQLEXPRESS" providerName="System.Data.SqlClient"/>
   </connectionStrings>
</configuration>